/* Wrapper Styles */
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #FBF4EE;
  align-items: center; /* Center child elements horizontally */
  justify-content: center; /* Center child elements vertically */
}

/* Card Styles */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border-radius: 20px;
  background-color: white;
}

/* New Challenge Section */
.newChallenge {
  padding: 20px;
}

/* Form Group */
.formGroup {
  margin-bottom: 20px;
}

/* Button and Active Button Styles */
.categoryOptions button,
.durationOptions button {
  margin-right: 10px;
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.categoryOptions button.active,
.durationOptions button.active {
  background-color: #ffa500;
  color: white;
}

/* Goal Setting */
.goalSetting {
  display: flex;
  align-items: center;
}

.goalSetting input {
  width: 50px;
  margin: 0 10px;
}

/* Date Picker */
.datePicker input {
  width: 150px;
}

/* Category Selection Text */
.setCategoryText {
  background: none;
  border: none;
  color: #F27F0C;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
}

.setCategoryText:hover {
  color: #F27F0C;
}

/* Container and Title */
.container {
  margin: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Subtitle */
h5 {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Category Options */
.categoryOptions {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; /* Allow buttons to wrap within the container */
}

.button,
.active {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.button {
  background-color: #f7f7f7;
  color: #333;
}

.active {
  background-color: #ffc107;
  color: #fff;
}

/* Category Select Styles */
.categorySelect {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.categorySelect h3 {
  margin: 0;
  font-size: 1.5rem;
}

.categorySelect h4 {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #666;
}

/* Input Styles */
.input {
  padding: 8px;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

.container {
  margin: 20px 0;
  margin-right: auto; /* Allow automatic right margin to push it left */

  
}
